@mixin closeSidebarButton {
	#hideSidebar {
		display: none;
	}
	.section-btn-close {
		width: 100px;
		height: 100px;
		position: absolute;
		right: 50.5%;
		bottom: 7.5%;
		margin-top: -50px;
		margin-right: -40px;
		background-color: transparent;
		border-radius: 50px;
		border: none;
		opacity: 1;
		transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-box-shadow: 0px 0px 30px 0px whitesmoke;
		-moz-box-shadow: 0px 0px 30px 0px whitesmoke;
		box-shadow: 0px 0px 30px 0px whitesmoke;
		& > span {
			background-color: $dark-green;
			display: block;
			height: 12px;
			border-radius: 6px;
			position: relative;
			transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
			position: absolute;
			top: 50%;
			margin-top: -6px;
			left: 18px;
			width: 64px;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			-moz-justify-content: space-between;
			-ms-justify-content: space-between;
			span {
				display: block;
				background-color: $light-green;
				width: 12px;
				height: 12px;
				border-radius: 6px;
				transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
				position: absolute;
				left: 0;
				top: 0;
			}
			&.left {
				transform: rotate(45deg);
				transform-origin: center;
				.circle-left {
					transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
					margin-left: 0;
				}
				.circle-right {
					transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
					margin-left: 52px;
				}
			}

			&.right {
				transform: rotate(-45deg);
				transform-origin: center;
				.circle-left {
					transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
					margin-left: 0;
				}
				.circle-right {
					transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
					margin-left: 52px;
				}
			}
		}
		&:hover {
			cursor: pointer;
			& > span {
				background-color: $dark-purple;
				transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
				span {
					transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
					background-color: $light-purple;
				}
				&.left {
					.circle-left {
						transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
						margin-left: 52px;
					}
					.circle-right {
						transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
						margin-left: 0;
					}
				}
				&.right {
					.circle-left {
						transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
						margin-left: 52px;
					}
					.circle-right {
						transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
						margin-left: 0;
					}
				}
			}
		}
	}
}
@mixin openSidebarButton {
	.section-btn-open {
		cursor: pointer;
		position: absolute;
		bottom: 8%;
		left: 40%;
		span {
			background-color: transparent;
			font-family: "Sansita Swashed", cursive;
		}
		transform: scale(1);
		transition: transform 500ms ease-in-out;
		&:hover {
			transform: scale(1.1);
			transition: transform 500ms ease-in-out;
			.darkGreenSpan-2 {
				color: $dark-green;
			}
			.darkGreenSpan {
				color: whitesmoke;
			}
		}
		&,
		&::after {
			width: 350px;
			height: 90px;
			font-size: 1.5rem;
			font-family: "Bebas Neue", sans-serif;
			background: linear-gradient(45deg, transparent 5%, transparent 5%);
			border: 0;
			color: #fff;
			letter-spacing: 3px;
			box-shadow: 3px 5px 10px 5px $dark-green;
			outline: transparent;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
		}
		&:after {
			--slice-0: inset(50% 50% 50% 50%);
			--slice-1: inset(80% -6px 0 0);
			--slice-2: inset(50% -6px 30% 0);
			--slice-3: inset(10% -6px 85% 0);
			--slice-4: inset(40% -6px 43% 0);
			--slice-5: inset(80% -6px 5% 0);
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(
				45deg,
				transparent 3%,
				#def514 3%,
				#def514 5%,
				$dark-green 5%
			);
			text-shadow: -3px -3px 0px #9300f5, 3px 3px 0px #def514;
			clip-path: var(--slice-0);
		}
		&:hover:after {
			animation: 1s electro;
			animation-timing-function: steps(2, end);
		}
	}
}
