@mixin flexColumnCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@mixin flexSpaceAroundCenter {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
@mixin flexCenterCenter {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
@mixin flexAlignCenter {
	display: flex;
	align-items: center;
}
@mixin flexColumnSpaceBetween {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
