$body: black;
$whiteText: whitesmoke;
$dark-green: rgb(0, 133, 0);
$greenest: rgb(0, 66, 0);
$darkest-green: rgb(0, 43, 0);
$black-green: rgb(0, 19, 0);
$light-green: rgb(1, 231, 1);
$dark-purple: rgb(128, 0, 128);
$black-purple: rgba(36, 0, 43, 1);
$light-purple: rgb(201, 0, 201);
$dark-gray: rgb(56, 56, 56);
