@mixin context {
	.section {
		object-fit: cover;
		position: relative;
		padding: 0 10px;
		height: 100%;
		.section-text-div {
			min-height: 50%;
			background-color: rgb(16, 27, 27);
			.text {
				margin: 0 2rem;
				padding-top: 2rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.section-h1 {
					@include flexAlignCenter;
					margin: 1rem 2rem;
				}
				.section-h3 {
					@include flexAlignCenter;
					margin: 1rem 2rem;
				}
			}
			.textAboutMe {
				height: 60%;
				display: none;
				justify-content: center;
				align-items: center;
			}
			.textProjects {
				display: none;
				width: 50%;
				position: relative;
				margin-left: auto;
				margin-right: auto;
				padding-top: 2rem;
				height: 60%;
				border-radius: 10px;
				overflow: hidden;
				.slides {
					width: 500%;
					height: 100%;
					display: flex;
					input {
						display: none;
					}
					#radio1:checked ~ .first {
						margin-left: 0;
					}
					#radio2:checked ~ .first {
						margin-left: -20%;
					}
					#radio3:checked ~ .first {
						margin-left: -40%;
					}
					.slide {
						width: 20%;
						transition: 1s;
						img {
							max-width: 65%;
							object-fit: cover;
							min-height: 70%;
							border-radius: 20%;
							margin-top: 0.5rem;
							margin-bottom: 0.5rem;
							transform: scale(1);
							transition: transform 200ms ease-in-out;
							&:hover {
								cursor: pointer;
								transform: scale(1.02);
								transition: transform 200ms ease-in-out;
								opacity: 0.5;
							}
						}
						.image1,
						.image2,
						.image3 {
							width: 100%;
							height: 85%;
							@include flexColumnCenter;
							.image-btn-text {
								padding-bottom: 4rem;
								padding-top: 1.5rem;
								margin-right: auto;
								width: 60%;
								display: flex;
								justify-content: space-between;
								h2 {
									font-family: $fontSansitaSwashed;
									color: $dark-green;
									padding-left: 1rem;
								}
								a {
									color: $whiteText;
									font-size: x-large;
									text-decoration: none;
									background: transparent;
									border: none;
									padding: 0.2rem 1rem;
									margin-right: 1rem;
									letter-spacing: 3px;
									box-shadow: 3px 5px 10px 5px $dark-green;
									cursor: pointer;
									font-family: $fontSansitaSwashed;
									border-radius: 10px;
									color: $dark-green;
									transform: scale(1);
									transition: transform 300ms ease-in-out;
									&:hover {
										transform: scale(1.1);
										transition: transform 300ms ease-in-out;
									}
								}
							}
						}
					}
				}
				.manualNav {
					position: absolute;
					bottom: 2%;
					width: 100%;
					display: flex;
					justify-content: space-around;
					.manual-btn {
						border: 2px solid $dark-purple;
						padding: 10px;
						border-radius: 10px;
						cursor: pointer;
						transition: 1s;
						&:hover {
							background-color: $dark-purple;
						}
					}
				}
			}
			.textTechnologies {
				display: none;
				font-family: "Staatliches", cursive;
				width: 100%;
				height: 60%;
				padding-top: 1rem;
				.container {
					width: 60%;
					height: 100%;
					margin: 3rem auto 0 auto;
					p {
						margin-top: 1rem;
					}
					.progress {
						width: 100%;
						height: 30px;
						background-color: $black-purple;
						border-radius: 10px;
						.progress-bar {
							width: 50%;
							height: 100%;
							background-color: $darkest-green;
							border-radius: 10px;
							position: relative;
							transition: all 0.5s;
							.progressSpan {
								position: absolute;
								right: 0;
								top: 10%;
								margin-right: 10px;
								color: $whiteText;
							}
						}
					}
				}
			}
		}
		.section-while {
			position: absolute;
			bottom: 3%;
			left: 2%;
			span {
				color: $dark-gray;
			}
			.section-while-pink {
				color: $black-purple;
			}
			.section-green-text-alive {
				color: $greenest;
			}
			.section-green-text {
				color: $greenest;
				margin-left: 4.2rem;
			}
			h2 {
				font-size: 2rem;
				width: 300px;
				font-weight: 100;
				color: $dark-gray;
			}
		}
		h1 {
			font-weight: bold;
			font-size: 2.5rem;
			padding: 0 0.5rem;
			font-family: "Cairo", sans-serif;
		}
		h3 {
			font-family: "Cairo", sans-serif;
			padding: 0 0.5rem;
		}
		.CV {
			position: absolute;
			right: 5%;
			bottom: 5%;
			display: flex;
			align-items: center;
			text-align: center;
			padding: 10px;
			width: 250px;
			height: 250px;
			border: 2px dashed $dark-purple;
			border-radius: 50%;
			h1 {
				font-family: "Amatic SC", cursive;
			}
			.download-CV {
				font-size: 2.2rem;
				text-decoration: none;
				text-align: center;
				font-family: "Permanent Marker", cursive;
				color: $whiteText;
				width: 65px;
				border: 2px dashed $dark-purple;
				height: 65px;
				background: transparent;
				border-radius: 50%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				margin: auto;
				animation: circleBigScreen 10s linear infinite;
			}
		}
		@include openSidebarButtonBig;
		@include closeSidebarButton;
	}
}

@keyframes electro {
	0% {
		clip-path: var(--slice-1);
		transform: translate(-20px, -10px);
	}
	10% {
		clip-path: var(--slice-3);
		transform: translate(10px, 10px);
	}
	20% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 10px);
	}
	30% {
		clip-path: var(--slice-3);
		transform: translate(0px, 5px);
	}
	40% {
		clip-path: var(--slice-2);
		transform: translate(-5px, 0px);
	}
	50% {
		clip-path: var(--slice-3);
		transform: translate(5px, 0px);
	}
	60% {
		clip-path: var(--slice-4);
		transform: translate(5px, 10px);
	}
	70% {
		clip-path: var(--slice-2);
		transform: translate(-10px, 10px);
	}
	80% {
		clip-path: var(--slice-5);
		transform: translate(20px, -10px);
	}
	90% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 0px);
	}
	100% {
		clip-path: var(--slice-1);
		transform: translate(0);
	}
}
@keyframes circleBigScreen {
	0% {
		transform: rotate(0deg) translate(-120px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translate(-120px) rotate(-360deg);
	}
}
@media (min-width: 768px) {
	.section-btn-open {
		&::after {
			width: 370px;
			height: 95px;
			line-height: 85px;
		}
	}
}

@media (min-width: 500px) {
	.image-btn-text {
		h2 {
			font-size: 1.2rem;
			min-width: 120px;
		}
		a {
			font-size: large;
			text-decoration: none;
			padding: 0.2rem 0.5rem;
			margin-right: 0rem;
			letter-spacing: 1px;
		}
	}
}
@media (min-width: 800px) {
	.image-btn-text {
		h2 {
			font-size: x-large;
			min-width: 160px;
		}
		a {
			font-size: x-large;
			padding: 0.2rem 1rem;
			margin-right: 1rem;
			letter-spacing: 3px;
		}
	}
}

@media (max-width: 1200px) {
	.section {
		.section-btn-open {
			cursor: pointer;
			border-radius: 10px;
			position: absolute;
			bottom: 10%;
			left: 30%;
			&,
			&::after {
				width: 225px;
				height: 70px;
				font-size: 1.5rem;
				letter-spacing: 1px;
			}
		}
	}
}
