@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

@import "_buttons.scss";

@mixin context {
	.section {
		object-fit: cover;
		position: relative;
		padding: 1rem 10px;
		height: 100%;
		.section-while {
			position: absolute;
			bottom: 3%;
			left: 2%;
			height: auto;
			span {
				color: $dark-gray;
			}
			.section-while-pink {
				color: rgb(46, 0, 46);
			}
			.section-green-text-alive {
				color: rgb(0, 66, 0);
			}
			.section-green-text {
				color: rgb(0, 66, 0);
				margin-left: 4.2rem;
			}
			h2 {
				font-size: 3rem;
				width: 300px;
				font-weight: 100;
				color: $dark-gray;
			}
		}
		.text {
			// -webkit-box-shadow: 0px -32px 70px 33px $black-purple;
			// -moz-box-shadow: 0px -32px 70px 33px $black-purple;
			// box-shadow: 0px -32px 70px 33px $black-purple;
			// border-radius: 20px;
			box-sizing: border-box;
			min-height: 53%;
			margin: 2rem;
			display: grid;
			place-items: center;
			.section-h1 {
				display: flex;
				align-items: center;
				margin: 0 2rem;
			}
			.section-h3 {
				display: flex;
				align-items: center;
				margin: 0 2rem;
			}
		}
		h1 {
			font-weight: bold;
			font-size: 2.5rem;
			padding: 0 0.5rem;
			font-family: "Cairo", sans-serif;
		}
		h3 {
			font-family: "Cairo", sans-serif;
			padding: 0 0.5rem;
		}
		.CV {
			position: absolute;
			right: 12%;
			bottom: 18%;
			h1 {
				position: absolute;
				top: 29%;
				left: 25%;
				font-family: "Amatic SC", cursive;
			}
			& {
				width: 250px;
				height: 250px;
				border: 1px dashed $dark-purple;
				position: absolute;
				bottom: 7%;
				right: 7%;
				margin: auto;
				border-radius: 50%;
			}
			.download-CV {
				font-size: 2.5rem;
				padding-top: 1px;
				text-align: center;
				text-decoration: none;
				font-family: "Permanent Marker", cursive;
				color: $whiteText;
				& {
					width: 65px;
					border: 1px dashed $dark-purple;
					height: 65px;
					background: transparent;
					border-radius: 50%;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					overflow: hidden;
					margin: auto;
					animation: circle 10s linear infinite;
				}
			}
		}
		@include openSidebarButton;
		@include closeSidebarButton;
	}
}

@keyframes electro {
	0% {
		clip-path: var(--slice-1);
		transform: translate(-20px, -10px);
	}
	10% {
		clip-path: var(--slice-3);
		transform: translate(10px, 10px);
	}
	20% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 10px);
	}
	30% {
		clip-path: var(--slice-3);
		transform: translate(0px, 5px);
	}
	40% {
		clip-path: var(--slice-2);
		transform: translate(-5px, 0px);
	}
	50% {
		clip-path: var(--slice-3);
		transform: translate(5px, 0px);
	}
	60% {
		clip-path: var(--slice-4);
		transform: translate(5px, 10px);
	}
	70% {
		clip-path: var(--slice-2);
		transform: translate(-10px, 10px);
	}
	80% {
		clip-path: var(--slice-5);
		transform: translate(20px, -10px);
	}
	90% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 0px);
	}
	100% {
		clip-path: var(--slice-1);
		transform: translate(0);
	}
}
@keyframes circle {
	0% {
		transform: rotate(0deg) translate(-120px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translate(-120px) rotate(-360deg);
	}
}

@media (min-width: 768px) {
	.section-btn-open {
		&::after {
			width: 370px;
			height: 95px;
			line-height: 85px;
		}
	}
}
