@import "./variables.scss";
@import "./mainDiv.scss";
@import "./context.scss";
@import "./footer.scss";
@import "./nav.scss";

*,
*::after,
*::before {
	background-color: $body;
	box-sizing: border-box;
	color: $whiteText;
	padding: 0%;
	margin: 0%;
}

#mainDiv {
	min-height: 100vh;
	@include nav;
	@include context;
	@include footer;
}
