@import "./header.scss";
@import "./footer.scss";
@import "./mainDiv.scss";
@import "./context.scss";

$body: black;
$whiteText: whitesmoke;

* {
	padding: 0%;
	margin: 0%;
	background-color: $body;
}
h2 {
	color: $whiteText;
}

#main {
	@include mainDiv;
	.top {
		@include header;
	}
	.context {
		@include context;
		.left {
			@include left;
		}
		.right {
			@include right;
		}
	}
	.footer {
		@include footer;
	}
}
