@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");

@mixin nav {
	.nav {
		background-color: darkcyan;
		min-height: 10vh;
		padding: 1rem;
		ul {
			justify-content: space-around;
			list-style-type: none;
			display: flex;
			li {
				font-family: "Sansita Swashed", cursive;
				transition: transform 500ms ease-in-out;
				background-color: transparent;
				transform: scale(1);
				font-size: xx-large;
				&:hover {
					transition: transform 500ms ease-in-out;
					color: rgb(177, 177, 177);
					text-decoration: underline;
					transform: scale(1.2);
					cursor: pointer;
				}
			}
		}
	}
}
