@mixin nav {
	.nav {
		background-color: darkcyan;
		flex: 0.1;
		padding: 1rem 0;
		ul {
			justify-content: space-around;
			list-style-type: none;
			display: flex;
			align-items: center;
			li {
				font-family: "Sansita Swashed", cursive;
				transition: transform 500ms ease-in-out;
				background-color: transparent;
				transform: scale(1);
				font-size: xx-large;
				&:hover {
					transition: transform 500ms ease-in-out;
					text-decoration: underline;
					transform: scale(1.2);
					cursor: pointer;
				}
				a {
					text-decoration: none;
					background-color: transparent;
					&:hover {
						color: rgb(177, 177, 177);
					}
				}
			}
		}
	}
}
