@mixin aside {
	#aside {
		display: none;
		place-items: center;
		height: 100%;
		font-family: "Sansita Swashed", cursive;
		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			.h1,
			.h2 {
				display: flex;
				align-items: center;
				font-size: 1.2rem;
				margin: 0 0.5rem;
			}
			h1 {
				font-size: 4.5rem;
				margin: 0 0.5rem;
			}
			h2 {
				font-size: 3.5rem;
				margin: 0 0.5rem;
			}
		}
		.contacts {
			ul {
				li {
					transition: transform 500ms ease-in-out;
					background-color: transparent;
					list-style-type: none;
					transform: scale(1);
					font-size: 2rem;
					text-align: center;
					padding: 2rem;
					margin: 2.5rem 0;
					border: 2px solid $dark-green;
					border-style: inset;
					border-radius: 50%;
					&:hover {
						transition: transform 500ms ease-in-out;
						transform: scale(1.1);
						border-style: initial;
						cursor: pointer;
					}
					a {
						text-decoration: none;
						background-color: transparent;
						display: flex;
						flex-direction: column;
						span {
							background-color: transparent;
						}
						&:hover {
							color: $dark-green;
						}
					}
				}
			}
		}
	}
}
